/**
 * Base
*/
html, body {
	height: 100%;
}
body {
	font-size: 1.125 * $base-font-size;
	width: 100%;
}

.page__title {
	display: none;
}


/**
 * Components
*/
/**
 * NAVIGATION
 * http://codyhouse.co/gem/smart-fixed-navigation/
*/
#cd-nav ul {
	background-color: rgba(#fff, 0.93);
	position: fixed;
	top: -27px;
	right: 0;
	bottom: -27px;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	z-index: 10;
	transform: scale(0);
	transform-origin: 100% 0%;
	transition: transform 0.3s, visibility 0s 0.3s;
	&.is-visible {
		visibility: visible;
		transform: scale(1);
		transition: transform 0.3s, visibility 0s 0s;
	}
}

/**
 * TOGGLE BUTTON
 * http://codyhouse.co/gem/smart-fixed-navigation/
 * http://codepen.io/designcouch/pen/Atyop
*/	
#nav-toggle {
	//TODO: I need to figure out the value where it's placed
	top: 4rem;
	right: 4rem;
	width: 60px;
	height: 45px;
	position: fixed;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	z-index: 20;

	@include transform(rotate(0deg));
	@include transition(.5s ease-in-out);
	cursor: pointer;
	span {
		display: block;
		position: absolute;
		height: 9px;
		width: 100%;
		background-color: #d3531a;
		opacity: 1;
		left: 0;
		@include transform(rotate(0deg));
		@include transition(.25s ease-in-out);
		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2), &:nth-child(3) {
			top: 18px;
		}
		&:nth-child(4) {
			top: 36px;
		}
	}
	&.open {
		span {
			&:nth-child(1), &:nth-child(4) {
				top: 18px;
				width: 0%;
				left: 50%;
			}
			&:nth-child(2) {
				@include transform(rotate(45deg));
			}
			&:nth-child(3) {
				@include transform(rotate(-45deg));
			}
		}
	}
}

/**
 * GOLDEN RATIO COLUMN
 * using .box, .golden-ratio:before, .inner
 * http://webrawl.org/equal-column-height-with-css/
*/
.box {
	position: relative;
	top: 0;
	width: 100%;
}
.golden-ratio:before {
	content: "";
	display: block;
	padding-top: (1/1.618)*100%;
}
.inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**
 * CENTERING CONTENT
 * The parent element should be position: absolute/relative
 * using .centerised-block
 * http://www.w3.org/Style/Examples/007/center.en.html#vertical3
*/
.centerised-block {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

/**
 * FILL IMAGE AS A BACKGROUND
*/
.background-image {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

/**
 * IMAGE WRAPPER
 * In order to contain a background image which will be zoomed
 * https://getpocket.com/a/read/652807135
 * http://jsfiddle.net/s3hWj/4/
 */
.image-wrapper {	
	overflow: hidden;
}

/*
 * MOUSEOVER IMAGE FILTER
 * This should be contained in .image-wrapper
*/
.mouseover-image-filter {
	@include filter(opacity(.2));
}
.image-wrapper:hover {
	.mouseover-image-filter {
		@include filter(opacity(.5));
	}
}

/**
 * MOUSEOVER IMAGE ZOOM
 * This should be contained in .image-wrapper
 */
.mouseover-image-zoom {
	@include transition(all 3s);
	@include transform(scale(1, 1));
	z-index: -1;
}
.image-wrapper:hover {
	.mouseover-image-zoom {
		@include transform(scale(1.5, 1.5));
	}
}


/**
 * BOTTOM CONTAINER
 * Stick to bottom
*/
.bottom-container {
	position: absolute;
	bottom: 0;
	width: 100%;
}

/**
 * CSS SLIDER
 * using .css-slide, li, span
 * http://tympanus.net/codrops/2012/01/02/fullscreen-background-image-slideshow-with-css3/
*/
.css-slide {
	position: relative;
	top: 0;
	left: 0;
	list-style: none;
	margin: 0;
	li {
		span {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			animation: slideAnimation 10s linear infinite 0s;
		}
		&:nth-child(1) span {
			animation-delay: 5s;
		}		
	}
}
@keyframes slideAnimation {
	0% {
		opacity: 0;
		transform: translateX(200px);
	}
	5% {
		opacity: 1;
		transform: translateX(0);
	}
	40% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	100% {opacity: 0;}
}

/**
* Theme
*/
$Roboto: "Roboto", Helvetica, sans-serif;
$RobotoSlab: "Roboto Slab", sans-serif;
$ColorGreen: #017363;
$ColorLink: #058b7b;
$ColorLinkHover: darken($ColorLink, 8);
body {
	font-family: $Roboto;
}
a {
	outline: 0;
	color: $ColorLink;
	@include transition-delay(0s, 0s);
	@include transition-duration(0.15s, 0.15s);
	@include transition-timing-function(ease-in-out, ease-in-out);
	&:hover, &:focus {
		outline: 0;
		color: $ColorLinkHover;
	}
	&:active {
		outline: 0;
	}
}

#nav-toggle {
	span {
		background-color: $ColorLink;
	}
}
#cd-nav ul {
	list-style: none;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	a {
		font-family: $RobotoSlab;
		font-size: 8rem;
	}
}
.section>.row:first-child>.col-sm-6:first-child {
	background-color: $ColorGreen;
}
.single-page-title, #cboxContent #nav-toggle {
	display: none;
}
.sec-title {
	font-size: 5rem;
	font-family: $RobotoSlab;
	text-transform: uppercase;
	color: #fff;
}
.just-margin {
	&:after {
		content: '';
		display: block;
		padding-top: 5%;
	}
}
@media (max-width:799px) {
	.just-margin {
		display: none;
	}
}

//Home section
.image-box {
	background-image: url('../images-source/bg.jpg');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
}
.catch-phrase {
	color: #fff;
	font-weight: 900;
	text-transform: capitalize;	
}
.basic-info {
	p, span {
		margin: 1.5rem 0 2rem;
	}
	font-weight: 100;
	font-size: 1.25rem;
	letter-spacing: 1px;
	background-color: #fff;
}
@media (min-width: 768px) {
	.basic-info .name {
		text-align: right;
	}
}

//Work secttion
//Skill section
.section {
	h3.title {
		font-weight: 900;
		font-size: 2rem;
		text-transform: capitalize;
	}
	h4.caption {
		font-size: 1.25rem;
		margin-top: -1rem;
	}
}

//Infomation section
.info-section>.row:first-child>.col-sm-6:nth-child(2) {
	$keyColor: #fff;
	$darkColor: darken($keyColor, 8);
	@include background(radial-gradient(top, $keyColor, $keyColor, $keyColor, $darkColor));
}
.info-section {}
.info-name, .info-email {
	margin: 0.7rem 0;
}
.info-name {
	font-size: 2rem;
	font-weight: 200;
}
.info-email {
	font-weight: 300;
}
.btn {
	@include border-radius(0);
}
.btn-primary {
	background-color: $ColorLink;
	border-color: $ColorLinkHover;
	&:hover, &:focus {
		background-color: $ColorLinkHover;
		border-color: $ColorLinkHover;
	}
}
.btn-contact {
	width: 204px;
}
.social {
	ul li {
		padding: 0;
		a {
			position: relative;
			display: inline-block;
			width: 60px;
			height: 60px;
			margin: 0 4px;
			font-size: 2.25rem;
			background-color: $ColorLink;
			color: #fff;
			@include box-shadow(2px 3px 10px #bbb);
			&:hover, &:focus {
				background-color: $ColorLinkHover;
				@include box-shadow(0 0 0 #fff);
			}
		}
	}
}

//Footer
#footer>div {
	margin: 0;
	.copyright {
		font-size: 0.85rem;
		margin: 10px 0 10px 20px;
	}
}

//Media queries
@media (min-width:1280px) {
	//large
	.catch-phrase {
		font-size: 8rem;
		margin-left: -1.25rem;
		margin-top: 1.5rem;
	}
}
@media (min-width:800px) and (max-width:1279px) {
	//medium
	.catch-phrase {
		font-size: 5rem;
		margin-left: -0.85rem;
		margin-top: 1.5rem;
	}
	.info-box {
		p {
			margin: 10px 0;
		}
	}
}
@media (min-width:640px) and (max-width:799px) {
	//iPhone5
	.catch-phrase {
		font-size: 4rem;
		margin-left: -0.65rem;
		margin-top: 1rem;
		line-height: 5rem;
	}
	.section>.row:first-child>.col-sm-6:first-child {
		.golden-ratio:before {
			content: "";
			display: block;
			padding-top: (1/(1.618*2))*100%;
		}
	}
}


/**
 * COLORBOX
 * It depends on Default theme of Colorbox, and options are customized in Configure
 * Opacity is 1, Overlay max width/height are both 100%
*/
#cboxWrapper {
	@include border-radius(0);
}
#cboxTopLeft, #cboxTopRight, #cboxBottomLeft, #cboxBottomRight, #cboxMiddleLeft, #cboxMiddleRight {
	width: 0;
}
#cboxTopLeft, #cboxTopRight, #cboxBottomLeft, #cboxBottomRight, #cboxTopCenter, #cboxBottomCenter {
	height: 0;
}
#cboxLoadedContent {
	margin: 0;
}
#cboxClose {
	top: 60px;
	right: 60px;
	bottom: auto;
	height: 60px;
	width: 60px;
	background-image: none;
	content: '';
	&:before, &:after {
		position: absolute;
		content: '';
		display: block;
		width: 100%;
		height: 10px;
		background-color: $ColorLink;
	}
	&:before {
		@include rotate(45deg);
	}
	&:after {
		top: 18px;
		@include rotate(-45deg);
	}
}